@import "../variable/index.styl"
setLineCommon($c)
	content: " "
	position: absolute
	color: $c

setTopLine($c = $line-color-default) {
	setLineCommon($c)
	left: 0
	right: 0
	top: 0
	border-top 1px solid $c
	transform-origin: 0 0
	transform: scaleY(.5)
}

setBottomLine($c = $line-color-default) {
	setLineCommon($c)
	left: 0
	right: 0
	bottom: 0
	border-bottom 1px solid $c
	transform-origin: 0 100%
	transform: scaleY(.5)
}

setLeftLine($c = $line-color-default) {
	setLineCommon($c)
	left: 0
	top: 0
	bottom: 0
	border-left 1px solid $c
	transform-origin: 0 0
	transform: scaleX(.5)
}

setRightLine($c = $line-color-default) {
	setLineCommon($c)
	right: 0
	top: 0
	bottom: 0
	border-right 1px solid $c
	transform-origin: 100% 0
	transform: scaleX(.5)
}