@import "mixin/index.styl"

.rg-1px,
.rg-1px-t,
.rg-1px-b,
.rg-1px-tb,
.rg-1px-l,
.rg-1px-r
	position: relative

.rg-1px
	&:before
		content: " "
		position: absolute
		left: 0
		top: 0
		width: 200%
		border: 1px solid $line-color-default
		color: $line-color-default
		height: 200%
		transform-origin: left top
		transform: scale(.5)

.rg-1px-t
	&:before
		setTopLine()

.rg-1px-b
	&:after
		setBottomLine()

.rg-1px-l
	&:before
		setLeftLine()

.rg-1px-r
	&:after
		setRightLine()
		


