.full-h {
	height: 100%
}

.full-w {
	width: 100%
}

.full {
	height: 100%
	width: 100%
}

.df {
	display: flex
}

.db {
	display: block
}

.dn {
	display: none
}

.abs {
	position: absolute
}

.rel {
	position: relative
}

.fl {
	float: left
}

.fr {
	float: right
}

.tac {
	text-align: center
}
