
$namespace = rogen    // 命名空间

// v1 font
$fontEN = -apple-system-font, "Helvetica Neue";      // 默认字体
$fontCN = "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei";
$fontSans = sans-serif;
$fontDefault = $fontEN, $fontSans;

$theme-color = #04BE02;   // 主题色

$primary-color = #1AAD19;

$warn-color = #E64340;  // 提醒色

$line-color-default = #c7c7c7

$opacity-disabled = 0.5;   // 失效的时候的透明度

$gap-default = 16px     // 横向默认间距

$gap-vertical-default = 10px   // 纵向默认间距

